.mainTable{
    /* width: 60%; */
    /* justify-content: center;
    align-items: center; */
    padding-top: 10%;
}

.child {
    width: 60%;
    
    margin: 0 auto;
  }
  .btn {
   float: right
  }
  .btn-magin{
    margin: 0px 0px 20px 0px;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }